@page "/Imprint"

<PageTitle>Impressum</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Impressum</MudText>
<br/>
<MudText Typo="Typo.h6">Hochschule der Bayrischen Wirtschaft (HDBW) gemeinnützige GmbH</MudText>
    <MudText Typo="Typo.body1">
        <p>Infanteriestraße 8</p>
        <p>80797 München</p>
    </MudText>
<br/>
<MudText Typo="Typo.body1">
        <b>Vertretungsberechtigte Geschäftsführerinnen:</b> Anna Engel-Köhler, Dr. Evelyn Ehrenberger
    </MudText>
<br/>
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">Kontakt</MudText>
        <MudText Typo="Typo.body1">Telefon: +49 (0)89 456 78 45-0</MudText>
        <p><MudLink Href="mailto://info@hdbw-hochschule.de">E-Mail: info@hdbw-hochschule.de</MudLink></p>
        <p><MudLink Href="https://www.hdbw-hochschule.de/">Internetseite</MudLink></p>
    </MudCardContent>
</MudCard>
<br/>
<MudText Typo="Typo.body1">
    <b>Registergericht:</b> Amtsgericht München
</MudText>
<MudText Typo="Typo.body1">
    <b>Registernummer:</b> HRB 171704
</MudText>
<MudText Typo="Typo.body1">
    <b>USt-IdNr.:</b> DE 815520187
</MudText>

@code {

}
