@page "/privacy"

<PageTitle>Datenschutz</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Datenschutz Erklärung</MudText>
<br />
<MudText Typo="Typo.h5">1. Präambel</MudText>
<br />
<MudText Typo="Typo.body1">
    Herzlich Willkommen im Rahmen der Nutzung unserer APP! Wir legen größten Wert auf den Schutz Ihrer Daten und die Wahrung Ihrer Privatsphäre. Wir möchten nachfolgend darstellen, welche Daten wir wann und zu welchem Zweck und auf welcher Rechtsgrundlage verarbeiten. Hierbei soll Ihnen erläutert werden, wie unsere angebotenen Dienste arbeiten und wie hierbei der Schutz Ihrer personenbezogenen Daten gewährleistet wird.
    Personenbezogene Daten sind gemäß Art. 4 Ziff. 1 DSGVO alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt identifiziert werden kann. Weitere Informationen hierzu finden Sie u.a. in Art. 4 Ziff. 1 DSGVO.
    Diese Datenschutzerklärung kann jederzeit unter der https://www.invite-apollo.app/privacy abgerufen, abgespeichert und ausgedruckt werden.
</MudText>
<br />
<MudAlert>
    <MudText Typo="Typo.body1">
        Soweit wir als Rechtmäßigkeitsgrundlage für die Verarbeitung personenbezogener Daten unser berechtigtes Interesse oder ein berechtigtes Interesse eines Dritten (Art. 6 Abs. 1 lit. f) DSGVO) anführen, steht Ihnen ein Widerspruchsrecht  gemäß Art. 21 DSGVO zu: 
    </MudText>
    <MudText Typo="Typo.body1">
        <u>Gemäß Art. 21 DSGVO haben Sie das Recht</u>
        jederzeit gegen die Verarbeitung personenbezogener Daten Widerspruch einzulegen. Wir verarbeiten die personenbezogenen Daten dann nicht mehr zu Zwecken des Direktmarketings oder einem damit in Verbindung stehenden Profilings.
    </MudText>
    <MudText Typo="Typo.body1">
        Auch zu anderen Zwecken verarbeiten wir Ihre personenbezogenen Daten nach einem Widerspruch nicht, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen (vgl. etwa Art. 21 Abs. 1 DSGVO, sog. <u>„eingeschränktes Widerspruchsrecht“</u>). In diesem Fall müssen Sie für den Widerspruch Gründe darlegen, die sich aus Ihrer besonderen Situation ergeben.
    </MudText>
    <MudText Typo="Typo.body1">
        Sie können auch Widerspruch gegen eine Verarbeitung Ihrer personenbezogenen Daten aus Gründen, die sich aus Ihrer besonderen Situation ergeben,  einlegen, die zu wissenschaftlichen oder historischen Forschungszwecken oder zu statistischen Zwecken gemäß Art. 89 Abs. 1 DSGVO erfolgt, es sei denn, die Verarbeitung ist zur Erfüllung einer im öffentlichen Interesse liegenden Aufgabe erforderlich (vgl. Art. 21 Abs. 6 DSGVO).
    </MudText>
</MudAlert>
<br />
<MudText Typo="Typo.body1">
    Wir werden Sie in den einzelnen Abschnitten auf das Widerspruchsrecht auch noch einmal gesondert hinweisen (z.B. durch den Hinweis: „Ihnen steht ein Widerspruchsrecht zu“), sofern dieses Recht besteht. Dort finden Sie auch weitere Informationen zur Ausübung Ihres Widerspruchsrechts.
</MudText>
<MudText Typo="Typo.body1">
    Um die folgende Datenschutzerklärung übersichtlich zu halten, verweisen wir an verschiedenen Stellen durch Links auf Informationen und Datenschutzhinweise, die sich auf externen Webseiten befinden. Wir sind sehr bemüht die Verlinkungen, die wir in dieser Datenschutzerklärung aufführen auch aktuell zu halten. Dennoch ist aufgrund der stetigen Aktualisierung der Webseiten nicht ausgeschlossen, dass Verlinkungen nicht korrekt funktionieren. Sollte Ihnen eine solche Verlinkung auffallen, würden wir uns freuen, wenn Sie uns dies mitteilen, damit wir den aktuellen Link einpflegen können.  
</MudText>
<br />
<MudText Typo="Typo.h5">2. Verantwortlich</MudText>
<br />
<MudText Typo="Typo.body1">
    Verantwortlicher im Sinne des Art. 4 Ziff. 7 DSGVO für die Verarbeitung personenbezogener Daten ist:
</MudText>
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">Hochschule der Bayrischen Wirtschaft (HDBW) gemeinnützige GmbH</MudText>
        <MudText Typo="Typo.body1">Konrad-Zuse-Platz 8</MudText>
        <MudText Typo="Typo.body1">81829 München</MudText>
        <MudText Typo="Typo.body1">Telefon: +49 (0)89 456 78 45-0</MudText>
        <p><MudLink Href="mailto://info@hdbw-hochschule.de">E-Mail: info@hdbw-hochschule.de</MudLink></p>
        <p><MudLink Href="https://www.hdbw-hochschule.de/">Internetseite</MudLink></p>
    </MudCardContent>
</MudCard>
<br/>
<br />
<MudText Typo="Typo.h5">3. Ansprechpartner für Datenschutz</MudText>
<br />
<MudText Typo="Typo.body1">
    Bei Fragen zur Verarbeitung Ihrer personenbezogenen Daten, sowie zu Ihren Rechten rund um den Datenschutz wenden Sie sich bitte an:
</MudText>
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">Hochschule der Bayrischen Wirtschaft (HDBW) gemeinnützige GmbH</MudText>
        <MudText Typo="Typo.body1">Datenschutzbeauftragter der HDBW gGmbH</MudText>
        <MudText Typo="Typo.body1">c/o bfz gGmbH</MudText>
        <MudText Typo="Typo.body1">Garden-City-Straße 4</MudText>
        <MudText Typo="Typo.body1">96450 Coburg</MudText>
        <MudText Typo="Typo.body1">Telefon: +49 (0)89 441 08 347</MudText>
        <p><MudLink Href="mailto://datenschutz@hdbw-hochschule.de">E-Mail: datenschutz@hdbw-hochschule.de</MudLink></p>
        <p><MudLink Href="https://www.hdbw-hochschule.de/">Internetseite</MudLink></p>
    </MudCardContent>
</MudCard>
<br />
<MudText Typo="Typo.h5">4. Zugang zur App im App Store</MudText>
<br />
<MudText Typo="Typo.body1">
    Beim Herunterladen unserer App werden erforderlichen Informationen an den jeweiligen App Store (z.B. Google Play, App Store) übertragen. Dabei werden insbesondere folgende Informationen übertragen:
</MudText>
<MudText Typo="Typo.body1">
    <ul>
        <li>
            Nutzername
        </li>
        <li>
            E-Mail-Adresse
        </li>
        <li>
            Zeitpunkt des Downloads
        </li>
        <li>
            Gerätekennziffer
        </li>
    </ul>
</MudText>
<MudText Typo="Typo.body1">
    Auf diese Datenverarbeitung haben wir keinen Einfluss und sind hierfür nicht verantwortlich.
    Hinweise zur Datenverarbeitung der Stores finden Sie hier:
</MudText>
<ul>
    <li>
        <MudLink Href="https://policies.google.com/privacy">Informationen zur Datenverarbeitung durch google finden Sie hier: https://policies.google.com/privacy</MudLink>
    </li>
    <li>
        <MudLink Href="https://support.apple.com/de-de/HT211970">Informationen zur Datenverarbeitung durch apple finden Sie hier: https://support.apple.com/de-de/HT211970</MudLink>
    </li>
</ul>
<MudText Typo="Typo.body1">
    Vom Store erhalten wir unter Nennung Ihres Nutzernamens und der E-Mail Adresse,  die Sie verwendet haben, die Mitteilung, dass Sie die APP herunter geladen haben.
</MudText>
<MudText Typo="Typo.body1">
    Rechtsgrundlage für die Speicherung ist unser berechtigtes Interesse gem. Art 6 Abs. 1 lit f) DSGVO. Wir haben ein berechtigtes Interesse daran, nachzuhalten, wieviele Nutzer sich die APP heruntergeladen haben.
</MudText>
<MudText Typo="Typo.body1">
    Des Weiteren speichern wir die Daten, um ggf. noch einmal mit Ihnen zu Zwecken der Auswertung einer weiteren BETA-Version in Kontakt zu treten. In diesem Fall holen wir Ihr Einverständnis ein (s.u. Ziffer 7) ein.
</MudText>
<MudText Typo="Typo.body1">
    Eine andere Verarbeitung der Daten findet nicht statt. Der oben beschriebenen Verarbeitung Ihrer personenbezogenen Daten durch uns, können Sie hier widersprechen.
</MudText>
<MudAlert>
    <MudText Typo="Typo.subtitle1">
        Widerspruchsrecht
    </MudText>
    <MudText Typo="Typo.body1">
        Ihnen steht ein Widerspruchsrecht zu. Ihren Widerspruch können Sie uns jederzeit zusenden bzw. mitteilen.
    </MudText>
    <MudText Typo="Typo.body1">
        <MudLink Href="mailto://apollodev@hdbw-hochschule.de">App Developer Support Team</MudLink>
    </MudText>
</MudAlert>
<br />
<MudText Typo="Typo.h5">5. Telemetriedaten</MudText>
<br />
<MudText Typo="Typo.body1">
    Wenn Sie unsere APP nutzen, erfassen wir automatisiert Daten und Informationen vom System Ihres Geräts und speichern diese. Da es sich bei der APP noch um eine Beta-Version handelt, sind wir in besonderem Maße auf Daten zum Zweck der Fehlerbeseitigung und Weiterentwicklung der APP angewiesen.
</MudText>
<br />
<MudText Typo="Typo.body1">
    Hiervon sind folgende Angaben erfasst:
</MudText>
<ul>
    <li>
        Angaben zu dem Gerät, mit dem Sie die APP nutzen (z.B. Geräte Modell)
    </li>
    <li>
        Angaben aus dem Nutzerumfeld (z.B. Ort, von dem aus die Nutzung erfolgt, Countrycode ISO)
    </li>
    <li>
        Angaben zur Session ID
    </li>
    <li>
        Die Uhrzeit des Abrufs der APP und Dauer der Nutzung
    </li>
    <li>
        Pageviews
    </li>
    <li>
        Client calls
    </li>
    <li>
        Technische Daten, wie verfügbarer Speicher, Anforderungsrate, - dauer etc.
    </li>
</ul>
<br />
<MudText Typo="Typo.body1">
    Zweck dieser Verarbeitung ist die Abrufbarkeit der APP von Ihrem Gerät und das Ermöglichen einer korrekten Darstellung unserer APP auf Ihrem Gerät. Weiterhin dienen uns die Daten zur Weiterentwicklung und Verbesserung der APP, statistischen Zwecken und zur Sicherstellung der Sicherheit unserer Systeme. Eine Auswertung dieser Daten zum Zwecke des Marketings findet nicht statt. Es werden auch keine Benutzereingaben gespeichert.
</MudText>
<br />
<MudText Typo="Typo.body1">
    Rechtsgrundlage für die Verarbeitung ist Art. 6 Abs. 1 lit. f) DSGVO. Wir haben ein berechtigtes Interesse daran, Ihnen eine für Ihre Geräte optimierte APP zu präsentieren und Ihnen eine Kommunikation zwischen unseren Anwendungen und Ihrem Endgerät zu ermöglichen sowie unsere APP weiterzuentwickeln und zu verbessern.
</MudText>
<MudText Typo="Typo.body1">
    Die Daten werden 6 Monate lang gespeichert.
</MudText>
<MudText Typo="Typo.body1">
    Zur Verarbeitung der Daten nutzen wir das Tool „Microsoft Application Insight“ von Microsoft. Die Daten werden über Microsoft auf einem Server in Amsterdam in der Microsoft Azure Cloud gehostet.
</MudText>
<br />
<MudText Typo="Typo.body1">
    Wir haben mit Microsoft Corporation, One Microsoft Way, Redmond, WA 98052-6399 einen 
    Auftragsdatenverarbeitungsvertrag abgeschlossen. Datenschutzrechtliche Informationen zur Verarbeitung durch Microsoft erhalten Sie hier:
</MudText>
<ul>
    <li>
        <MudLink Href="https://www.microsoft.com/licensing/terms/product/PrivacyandSecurityTerms/all">https://www.microsoft.com/licensing/terms/product/PrivacyandSecurityTerms/all </MudLink>
    </li>
    <li>
        <MudLink Href="https://privacy.microsoft.com/de-de/privacystatement">https://privacy.microsoft.com/de-de/privacystatement</MudLink>
    </li>
    <li>
        <MudLink Href="https://wwlpdocumentsearch.blob.core.windows.net/prodv2/MicrosoftOnlineServicesDPA(WW)(German)(July21%2C2020)(CR).docx?sv=2020-08-04&se=2122-10-24T11:18:02Z&sr=b&sp=r&sig=%2FwnwIc%2BPD90YviqvdXCTZuvGYefMp1y7pBksJsXoDIU%3D">Microsoft Online Services Data Protection Addendum (WW)</MudLink>

    </li>
    <li>
        <MudLink Href="https://wwlpdocumentsearch.blob.core.windows.net/prodv2/MicrosoftProductandServicesDPA(WW)(German)(Sept2022)(CR).docx?sv=2020-08-04&se=2122-10-24T11:18:02Z&sr=b&sp=r&sig=InIMb9sqXLa5x4L0RibdzOsJRyUxKQogqp4vMXjFpZc%3D">Microsoft Product and Services Data Protection Addendum (WW)</MudLink>

    </li>
</ul>
<MudAlert>
    <MudText Typo="Typo.subtitle1">
        Widerspruchsrecht
    </MudText>
    <MudText Typo="Typo.body1">
        Ihnen steht ein Widerspruchsrecht zu. Ihren Widerspruch können Sie uns jederzeit zusenden bzw. mitteilen.
    </MudText>
    <MudText Typo="Typo.body1">
        <MudLink Href="mailto://apollodev@hdbw-hochschule.de">App Developer Support Team</MudLink>
    </MudText>
</MudAlert>
<br />
<MudText Typo="Typo.body1">
    Die Bereitstellung der personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben und auch nicht für einen Vertragsabschluss erforderlich. Sie sind auch nicht verpflichtet, die personenbezogenen Daten bereitzustellen. Die Nichtbereitstellung hätte jedoch unter Umständen zur Folge, dass Sie die APP nicht bzw. nicht vollumfänglich nutzen können.
</MudText>
<br />
<MudText Typo="Typo.h5">6. Registrierungsfunktion</MudText>
<br />
<MudText Typo="Typo.body1">
    Die Nutzung der APP ist ohne Registrierung möglich. Sie können sich aber Registrierung in der APP auch ein Nutzerkonto erstellen. Für die Registrierung müssen keine weiteren personenbezogenen Daten angegeben werden.
</MudText>
<br />
<MudText Typo="Typo.body1">
    Das Benutzerkonto kann von Ihnen jederzeit gelöscht werden.
</MudText>
<br />
<MudText Typo="Typo.h5">7. Weitere Kontaktaufnahme durch uns</MudText>
<br />
<MudText Typo="Typo.body1">
    Sie können uns im Zusammenhang mit der Registrierung ihr Einverständnis geben, dass wir Sie unter der uns bekannten E-Mail-Adresse erneut kontaktieren dürfen, um zu fragen, ob Sie an einer Testung und einer weiteren BETA-Version teilnehmen würden.
    Das Einverständnis können Sie uns über das Einklicken einer Checkbox erteilen. Wenn Sie die Checkbox anklicken, werden uns folgende Daten übermittelt:
</MudText>
<MudText Typo="Typo.body1">
    <ul>
        <li>
            Nutzername
        </li>
        <li>
            E-Mail-Adresse
        </li>
        <li>
            Eindeutige Identifikationsnummer beim Anbieter Apple oder Google
        </li>
    </ul>
</MudText>
<MudText Typo="Typo.body1">
    Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten ist Ihre Einwilligung gem. Art 6 Abs. 1 lit a) DSGVO. Sie können Ihre Einwilligung jederzeit hier widerrufen.
</MudText>
<br/>
<MudAlert>
    <MudText Typo="Typo.subtitle1">
        Widerspruchsrecht
    </MudText>
    <MudText Typo="Typo.body1">
        Sie haben das Recht, Ihre Einwilligung jederzeit zu widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung davon berührt wird. Ihren Widerruf der Einwilligung können Sie uns jederzeit zusenden bzw. mitteilen.
    </MudText>
    <MudText Typo="Typo.body1">
        <MudLink Href="mailto://apollodev@hdbw-hochschule.de">App Developer Support Team</MudLink>
    </MudText>
    <br/>
    <MudText Typo="Typo.body1">
        <b>Sie können Ihre Einwilligung auch einfach durch das Anklicken der Funktion Abmelden in den Einstellungen der App selbständig ausüben. Ihr Account wird dann automatisiert jedoch spätestens nach 30 Tagen gelöscht.</b>
    </MudText>
</MudAlert>
<br />
<MudText Typo="Typo.h5">8. Funktionen der APP</MudText>
<br />
<MudText Typo="Typo.body1">
    Sie haben die Möglichkeit in der BETA-App unter drei verschiedenen Test-Profilen auswählen und jeweils ein darauf abgestimmtes Test-Assessment-Center durchlaufen. Nach Abschluss des Tests, werden Ihnen bzw. dem Test-Profil konkrete Kurse zu Fortbildungen vorgeschlagen.
</MudText>
<MudText Typo="Typo.body1">
    Sie haben die Möglichkeit uns über eine Umfrage Feedback zu Ihrer Testung zu geben.
</MudText>
<br />
<MudText Typo="Typo.h5">9. Cookies</MudText>
<br />
<MudText Typo="Typo.body1">
    Die APP verwendet keine Cookies.
</MudText>
<br />
<MudText Typo="Typo.h5">10. Kontaktformular</MudText>
<br />
<MudText Typo="Typo.body1">
    Sie haben die Möglichkeit mit uns über ein Kontaktformular in Kontakt zu treten. Wenn Sie über dieses Kontaktformular mit uns in Kontakt treten, werden dabei die in den Eingabefeldern eingegebenen Daten von uns verarbeitet.
</MudText>
<MudText Typo="Typo.body1">
    Hiervon sind folgende Daten als Pflichtangaben umfasst:
</MudText>
<MudText Typo="Typo.body1">
    <ul>
        <li>
            E-Mail-Adresse
        </li>
        <li>
            Diejenigen Informationen, die sich jeweils aus dem Nachrichtentext ergeben
        </li>
    </ul>
</MudText>
<MudText Typo="Typo.body1">
    Darüber hinaus können Sie weitere Daten als freiwillige Angaben hinzufügen. Dies kann die Bearbeitung Ihrer Anfrage gegebenenfalls vereinfachen und beschleunigen. Hierbei sind folgende Daten potentiell betroffen:
</MudText>
<MudText Typo="Typo.body1">
    <ul>
        <li>
            Anrede
        </li>
        <li>
            Vorname
        </li>
        <li>
            Nachname
        </li>
        <li>
            Telefonnummer
        </li>
        <li>
            Unternehmen
        </li>
        <li>
            Straße und Hausnummer
        </li>
        <li>
            PLZ und Ort
        </li>
        <li>
            Diejenigen Informationen, die sich jeweils aus dem Nachrichtentext ergeben.
        </li>
    </ul>
</MudText>
<br />
<MudText Typo="Typo.body1">
    Pflichtangaben und freiwillige Angaben werden durch uns gleichbehandelt. Die Pflichtangaben sind notwendig, um mit Ihnen in Kontakt treten und Ihre Anfrage bearbeiten zu können. 
    Beim Absenden der Nachricht werden zudem folgende Daten gespeichert:
</MudText>
<br />
<MudText Typo="Typo.body1">
    <ul>
        <li>
            Datum und Uhrzeit des Absendens
        </li>
    </ul>
</MudText>
<br />
<MudText Typo="Typo.body1">
    Bitte beachten Sie, dass der Umfang der erhobenen personenbezogenen Daten im Rahmen des Kontaktformulars auch davon abhängt, welche Daten Sie selbst im Kontaktformular im Nachrichtentext preisgeben.
</MudText>
<MudText Typo="Typo.body1">
    Zweck der Verarbeitung der personenbezogenen Daten im Rahmen der Pflichtangaben sowie der freiwilligen Angaben ist es, die Kontaktanfrage zu bearbeiten und zur Beantwortung des Anliegens mit dem Anfragenden in Kontakt treten zu können. Die sonstigen während des Absendens verarbeiteten personenbezogenen Daten (Datum und Uhrzeit des Absendens)  dienen dazu, einen Missbrauch unseres Kontaktformulars zu verhindern.
</MudText>
<MudText Typo="Typo.body1">
    Rechtsgrundlage für die hier beschriebene Verarbeitung personenbezogener Daten ist Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse ist es, Ihnen die Möglichkeit zu bieten, sich jederzeit an uns wenden zu können damit wir Ihre Anfragen beantworten können.
</MudText>
<MudText Typo="Typo.body1">
    Die personenbezogenen Daten werden dabei nur solange verarbeitet, wie dies für die Bereitstellung der Funktion erforderlich ist.
</MudText>
<MudText Typo="Typo.body1">
    Die während des Absendens des Kontaktformulars zusätzlich erhobenen personenbezogenen Daten werden spätestens nach 30 Tagen gelöscht.
</MudText>
<MudText Typo="Typo.body1">
    Empfänger der Daten ist der E-Mail Server der HDBW, der im Rahmen einer Auftragsdatenvereinbarung von unserer IT Bereitgestellt wird.
</MudText>
<MudAlert>
    <MudText Typo="Typo.subtitle1">
        Widerspruchsrecht
    </MudText>
    <MudText Typo="Typo.body1">
        Ihnen steht ein Widerspruchsrecht zu. Ihren Widerspruch können Sie uns jederzeit zusenden bzw. mitteilen.
    </MudText>
    <MudText Typo="Typo.body1">
        <MudLink Href="mailto://apollodev@hdbw-hochschule.de">App Developer Support Team</MudLink>
    </MudText>
</MudAlert>
<br />
<MudText Typo="Typo.body1">
    Die Bereitstellung der personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben und auch nicht für einen Vertragsabschluss erforderlich. Sie sind auch nicht verpflichtet, die personenbezogenen Daten bereitzustellen. Die Nichtbereitstellung hätte jedoch unter Umständen zur Folge, dass Sie unser Kontaktformular nicht nutzen können.
</MudText>
<br />
<MudText Typo="Typo.h5">11. Datensicherheit</MudText>
<br />
<MudText Typo="Typo.body1">
    Wir sichern unsere Webseite und sonstigen Systeme durch technische und organisatorische Maßnahmen gegen Verlust, Zerstörung, Zugriff, Veränderung oder Verbreitung Ihrer Daten durch unbefugte Personen. Trotz regelmäßiger Kontrollen ist ein vollständiger Schutz gegen alle Gefahren jedoch nicht möglich.
</MudText>
<br />
<MudText Typo="Typo.h5">12. Änderung der Datenschutzerklärung</MudText>
<br />
<MudText Typo="Typo.body1">
    Gesetzesänderungen oder Änderungen unserer unternehmensinternen Prozesse können eine Anpassung dieser Datenschutzerklärung erforderlich machen. 
    Für den Fall einer solchen Änderung werden wir Ihnen dies am Anfang der Datenschutzerklärung mitteilen.
</MudText>
<br />
<MudText Typo="Typo.h5">13. Widerruf</MudText>
<br />
<MudText Typo="Typo.body1">
    Sie haben das Recht, einmal erteilte Einwilligungen mit Wirkung für die Zukunft jederzeit zu widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung davon berührt wird.
</MudText>
<br />
<MudText Typo="Typo.h5">14. Betroffenenrechte</MudText>
<br />
<MudText Typo="Typo.body1">
    Sie haben grundsätzlich folgende Rechte:
</MudText>
<ul>
    <li>
        Auskunftsrecht (Art. 15 DSGVO)
    </li>
    <li>
        Recht auf Berichtigung (Art. 16 DSGVO)
    </li>
    <li>
        Widerspruchsrecht (Art. 21 DSGVO)
    </li>
    <li>
        Recht auf Löschung (Art. 17 DSGVO)
    </li>
    <li>
        Recht auf Einschränkung der Verarbeitung (Art. 18f. DSGVO)
    </li>
    <li>
        Recht auf Datenübertragbarkeit (Art. 20 DSGVO)
    </li>
</ul>
<br />
<MudText Typo="Typo.body1">
    Bei Anfragen dieser Art, wenden Sie sich bitte an <MudLink Href="mailto://apollodev@hdbw-hochschule.de">App Developer Support Team</MudLink> Bitte beachten Sie, dass wir bei derartigen Anfragen sicherstellen müssen, dass es sich tatsächlich um die betroffene Person handelt.
    Sie haben unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer Datenschutzaufsichtsbehörde.
    Automatisierte Entscheidungsfindung findet auf unserer Webseite nicht statt.
</MudText>
<br/>
<MudText Typo="Typo.body1">
    Stand: 18.11.2022 | <MudLink Href="https://www.wbs.legal/">wbs legal im Auftrag der HDBW gGmbH</MudLink>
</MudText>
@*<MudText Class="mb-4">Current count: @currentCount</MudText>*@
@*<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="IncrementCount">Click me</MudButton>*@


@*@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}*@
