@page "/support"

<PageTitle>Support</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Invite Apollo Weiterbildungen - Support</MudText>
<MudText Class="mb-8">Invite Projekt Apollo</MudText>
<MudAlert Severity="Severity.Normal">Herzlich Willkommen auf der Support Seite von Invite Project Apollo. Mehr Informationen zum Projekt finden Sie unter:<MudLink Href="https://project-apollo.de/" Typo="Typo.body2" Color="Color.Inherit"><b>https://www.project-apollo.de/</b></MudLink></MudAlert>
<br/>
<MudText Typo="Typo.h3" GutterBottom="true">Support Anfrage</MudText>
<br/>
<MudText Typo="Typo.body1">Sie haben Technische Probleme? Dann wenden Sie sich bitte an:</MudText>
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h4">Invite Apollo App Support Team</MudText>
        <MudText Typo="Typo.body1">Telefon: +49 (0)89 456 78 45-0</MudText>
        <p><MudLink Href="mailto://apollodev@hdbw-hochschule.de">E-Mail: apollodev@hdbw-hochschule.de</MudLink></p>
    </MudCardContent>
</MudCard>
<br />
<MudText Typo="Typo.body1">Sie haben Allgemeines Feedback oder eine Anfrage? Dann wenden Sie sich bitte an:</MudText>
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h4">Invite Apollo Consortium</MudText>
        <MudText Typo="Typo.body1">Telefon: +49 (0)89 456 78 45-0</MudText>
        <p><MudLink Href="mailto://15d1a7e3.student.hdbw-hochschule.de@emea.teams.ms">Invite Apollo Consortium</MudLink></p>
    </MudCardContent>
</MudCard>
<br />
