@page "/Terms"
<PageTitle>Nutzungsbedingungen</PageTitle>

<MudText Typo="Typo.h2" GutterBottom="true">Nutzungsbedingungen</MudText>
<MudText Typo="Typo.h3">Allgemeine Geschäftsbedingungen für die APOLLO WEITERBILDUNGEN APP</MudText>
<br />
<MudText Typo="Typo.h5">1. Geltungsbereich der Nutzungsbedingungen</MudText>
<br />
<MudText Typo="Typo.h6">1.1 Diese Allgemeinen Geschäftsbedingungen („AGB“) gelten zwischen</MudText>

<br/>
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">Hochschule der Bayrischen Wirtschaft (HDBW) gemeinnützige GmbH</MudText>
        <MudText Typo="Typo.body1">Konrad-Zuse-Platz 8</MudText>
        <MudText Typo="Typo.body1">81829 München</MudText>
        <MudText Typo="Typo.body1">Telefon: +49 (0)89 456 78 45-0</MudText>
        <p><MudLink Href="mailto://info@hdbw-hochschule.de">E-Mail: info@hdbw-hochschule.de</MudLink></p>
        <p><MudLink Href="https://www.hdbw-hochschule.de/">Internetseite</MudLink></p>
    </MudCardContent>
</MudCard>
<br/>
<MudText Typo="Typo.body1">
    und den Nutzern der von der HDBW angebotenen Software für mobile Endgeräte APOLLO – nachfolgend „APP“ genannt. Diese AGB regeln die Bedingung für den Download und die Nutzung der APP
</MudText>
<br />
<MudText Typo="Typo.h6">1.2 Nutzer sind dabei individuelle Personen, die die APP nutzen möchten.</MudText>
<MudText Typo="Typo.h6">1.3 Maßgebend ist die jeweils bei Abschluss des Vertrages gültige Fassung der AGB.</MudText>
<br/>
<MudText Typo="Typo.h5">2. Vertragsgegenstand; Vertragsabschluss</MudText>
<MudText Typo="Typo.h6">2.1 Gegenstand des Vertrages ist die Zurverfügungstellung einer Beta-Version der APP APOLLO nach Maßgabe der Bestimmungen dieser AGB.</MudText>
<MudText Typo="Typo.h6">2.2 Der Nutzungsvertrag für die APP gemäß den AGB kommt dadurch zustande, indem der Nutzer die Geltung der AGB über eine Checkbox vor dem Downloadvorgang bestätigt.</MudText>
<MudText Typo="Typo.h6">2.3 Der Nutzer versichert, dass er zum Zeitpunkt des Vertragsschlusses volljährig gemäß § 2 BGB ist.</MudText>
<br/>
<MudText Typo="Typo.h5">3. Vertragssprache; Vertragstextspeicherung</MudText>
<MudText Typo="Typo.h6">3.1 Die für den Vertragsschluss zur Verfügung stehende Sprache ist Deutsch.</MudText>
<MudText Typo="Typo.h6">3.2 Die AGB sind jederzeit unter https://www.invite-apollo.app/terms und im APP-Store abrufbar. Der Vertragstext wird im Übrigen nicht gespeichert.</MudText>
<br/>
<MudText Typo="Typo.h5">4. Zugang zur APP/Nutzung der APP/Nutzerkonto/Kein Widerrufsrecht</MudText>
<MudText Typo="Typo.h6">4.1 Die Nutzung der APP ist unentgeltlich und erfordert keine Registrierung. Die APP kann über den jeweiligen APP-Store (s.a. Ziffer 5 Nutzungsanforderungen) nach Bestätigung der Geltung dieser AGB heruntergeladen werden. </MudText>
<MudText Typo="Typo.h6">4.2  Der Nutzer verpflichtet sich, im Rahmen der Nutzung der APP  wahrheitsgemäße und vollständige Angaben zu seiner Person, Kontaktdaten, Lebenslauf, etc. zu machen, sofern und soweit die Inanspruchnahme der Leistungen der APP eine solche Eingabe erfordern. </MudText>
<MudText Typo="Typo.body1">
    Insbesondere ist der Nutzer verpflichtet, ausschließlich solche Angaben zu machen, die sich allein auf seine Person beziehen. Das Verwenden fremder personenbezogener Daten ist nicht gestattet.
</MudText>
<MudText Typo="Typo.h6">4.3 Nutzerkonto</MudText>
<MudText Typo="Typo.body1">
    Die APP bietet die Möglichkeit ein Nutzerkonto anzulegen. Mit dem Nutzerkonto hat der Nutzer die Möglichkeit, einer weiteren Kontaktaufnahme zu Zwecken der Weiterentwicklung der Beta-Version der APP zu zustimmen.
</MudText>
<br />
<MudText Typo="Typo.body1">
    Der Nutzer ist zu jedem Zeitpunkt berechtigt, das von ihm erstellte Nutzerkonto zu löschen. Mit der Löschung des Nutzerkontos werden durch die HDBW alle personenbezogenen Daten des Nutzers gelöscht. 
</MudText>
<br />
<MudText Typo="Typo.h6">4.4 Ein Widerrufsrecht besteht nicht, da die APP unentgeltlich zur Verfügung gestellt wird.</MudText>
<br />
<MudText Typo="Typo.h5">5. Leistungsumfang der APP APOLLO/Auswertung der Daten/Telemetriedaten</MudText>
<MudText Typo="Typo.h6">
    5.1 Die APP erfasst mit Hilfe künstlicher Intelligenz die beruflichen Kompetenzen der Nutzer und wertet diese aus. Auf der Grundlage dieser Auswertung werden den Nutzern individualisierte Vorschläge auf ihr Profil passende Weiterbildungsmöglichkeiten oder Stellenangeboten unterbreitet. Diese Angebote stellen ausschließlich Dienstleistungen Dritter da. Angebote der HDBW selbst erfolgen nicht. Die APP ist eine Schnittstelle zwischen den Nutzern und den Anbietern der Weiterbildungs- und Stellenangebote.
</MudText>
<MudText Typo="Typo.h6">
    5.2 Die jeweiligen beruflichen Kompetenzen können die Nutzer vorab in der APP angeben. Dies erfolgt mittels
</MudText>
<MudText Typo="Typo.h6">
    5.2 Die jeweiligen beruflichen Kompetenzen können die Nutzer vorab in der APP angeben. Dies erfolgt mittels
</MudText>
<MudText Typo="Typo.body1">
    (a) automatischen Einlesens der entsprechenden Dokumenten per Kamera des mobilen Endgerätes
</MudText>
<MudText Typo="Typo.body1">
    (b) oder durch das Hochladen der benötigten Dokumente in der APP selbst
</MudText>
<MudText Typo="Typo.h6">
    5.3 Im Rahmen der BETA-Version der APP werden lediglich drei unterschiedliche Testprofile zur Verfügung gestellt, die der Nutzer testweise in einem Assessment-Tool durchlaufen kann.
</MudText>
<MudText Typo="Typo.h6">
    5.4 Bei Nutzung unserer APP werden automatisiert Daten und Informationen erfasst. Die Auswertung dieser Daten ermöglicht es uns, die APP weiterzuentwickeln zu verbessern. Weitere Informationen zur Verarbeitungen dieser Daten sind unter https://www.invite-apollo.app/privacy zu finden.
</MudText>
<br />
<MudText Typo="Typo.h5">6. Nutzungsanforderungen</MudText>
<MudText Typo="Typo.h6">
    6.1 Abhängig vom Betriebssystem des genutzten Endgerätes kann sich der Umfang der Funktionen der APP unterscheiden. Eine Funktionsbeschreibung wird im jeweiligen APP Store (zB. iTunes, Google Play, usw.) aufgeführt und ist dort vom Nutzer einsehbar. Auch Hardware- und Firmenware-Anforderungen zum Betreiben der APP auf dem jeweiligen Endgeräten sind im APP Store einsehbar.
</MudText>
<MudText Typo="Typo.h6">
    6.2 Im Rahmen des erforderlichen gesetzlichen Umfangs gemäß § 327 f BGB stellt die HDBW Aktualisierungen der APP zu Verfügung. Weiterführende Aktualisierungen erfolgen nach eigenem Ermessen der HDBW.
</MudText>
<MudText Typo="Typo.h6">
    6.3 Der HDBW kommt das Recht zu, die APP jederzeit in einer dem Nutzer zumutbaren Art und Weise zu ändern. Dies umfasst insbesondere die qualitative Verbesserung und Weiterentwicklung der APP in technischer sowie inhaltlicher Art und Weise.
</MudText>
<MudText Typo="Typo.h6">
    6.4 Die HDBW setzt eine stabile Internetverbindung des genutzten Endgerätes des Nutzer voraus, sodass der Nutzer die aktuellen Inhalte der App auf den jeweiligen Endgerät nutzen kann.
</MudText>
<br />
<MudText Typo="Typo.h5">7. Nutzungsrechte</MudText>
<MudText Typo="Typo.h6">
    7.1 Nutzungsrechte an der APP
</MudText>
<MudText Typo="Typo.body1">
    (a) Der Nutzer erwirbt mit dem Download der APP eine zeitlich auf die Dauer der Installation beschränkte, nicht-ausschließliche und nicht-übertragbare Lizenz zum Herunterladen, Installieren und Verwenden der APP auf jedem kompatiblen Endgerät, dessen Eigentümer er ist bzw. der seiner Kontrolle unterliegt. Das Nutzungsrecht umfasst auch etwaige Aktualisierungen (Updates, Patches, usw.).
</MudText>
<MudText Typo="Typo.body1">
    (b) Der Nutzer erwirbt an den in der APP abgerufenen Inhalten ein einfaches und nicht-übertragbares Nutzungsrecht. Das Nutzungsrecht berechtigt den Nutzer zum Herunterladen der Inhalte auf sein Endgerät sowie dazu, die Inhalte zu konsumieren. Es ist zeitlich auf die für die jeweiligen Inhalte vereinbarte Nutzungsdauer beschränkt.
</MudText>
<MudText Typo="Typo.body1">
    (c) Eine physische Überlassung der APP an den Kunden erfolgt nicht. Der Kunde darf die APP nur für seine eigenen privaten Zwecke nutzen.
</MudText>
<MudText Typo="Typo.body1">
    (d) Der Nutzer ist nicht berechtigt, Änderungen an der APP vorzunehmen, diese zu dekompilieren, zurückzuentwickeln, zu disassemblier, Versuche zur Ableitung des Quellcodes zu unternehmen, den Quellcode zu entschlüsseln, zu verändern oder abgeleitete Werke der APP oder deren Inhalte zu erstellen oder in anderer Software wiederzuverwenden.
</MudText>
<MudText Typo="Typo.body1">
    (e) Rechte, die vorstehend nicht ausdrücklich dem Nutzer eingeräumt werden, stehen dem Nutzer nicht zu. Der Nutzer ist insb. nicht berechtigt, die APP über die vereinbarte Nutzung hinaus zu nutzen. Insb. ist es nicht gestattet, die APP zu vervielfältigen, zu veräußern oder zeitlich begrenzt zu überlassen, insb. nicht zu vermieten oder zu verleihen.
</MudText>
<br />
<MudText Typo="Typo.h6">
    7.2 Verpflichtungen des Nutzers zur sicheren Nutzung
</MudText>
<MudText Typo="Typo.body1">
    (a) Der Nutzer trifft die notwendigen Vorkehrungen, die Nutzung der APP durch Unbefugte zu verhindern.
</MudText>
<MudText Typo="Typo.body1">
    (b) Der Nutzer haftet dafür, dass die APP nicht zu rassistischen, diskriminierenden, pornographischen, den Jugendschutz gefährdenden, politisch extremen oder sonst gesetzeswidrigen oder gegen behördliche Vorschriften oder Auflagen verstoßenden Zwecken verwendet oder entsprechende Daten, erstellt und/oder gespeichert werden.
</MudText>
<br />
<MudText Typo="Typo.h6">
    7.3 Verletzung der Bestimmungen nach § 7 Abs. 1 und 2 durch den Nutzer
</MudText>
<MudText Typo="Typo.body1">
    (a) Verletzt der Nutzer die Regelungen in Abs. 1 oder 2 aus von ihm zu vertretenden Gründen, kann die HDBW nach vorheriger schriftlicher Benachrichtigung der Zugriff des Nutzers auf die APP sperren, wenn die Verletzung hierdurch nachweislich abgestellt werden kann.
</MudText>
<MudText Typo="Typo.body1">
    (b) Verstößt der Nutzer rechtswidrig gegen Abs. 2 lit. b, ist die HDBW berechtigt, die dadurch betroffenen Daten zu löschen und den Zugang zur APP bis zur Aufklärung des Sachverhaltes zu sperren.
</MudText>
<MudText Typo="Typo.body1">
    Verletzt der Nutzer trotz entsprechender schriftlicher Abmahnung weiterhin die Regelungen in Abs. 1 oder 2, und hat er dies zu vertreten, so kann der Vertrag ohne Einhaltung einer Kündigungsfrist außerordentlich kündigen und den Nutzer für die Zukunft von der Nutzung der APP auszuschließen.
</MudText>
<br />
<MudText Typo="Typo.h6">
    7.4 Nutzungsrechte der HDBW an den vom Nutzer hochgeladenen Inhalten
</MudText>
<MudText Typo="Typo.body1">
    Der Nutzer räumt der HDBW das einfache zeitlich unbeschränkte  Recht ein, die durch den Nutzer hochgeladenen Inhalte umfassend zur Erfüllung und Gewährleistung des in § 4  beschriebenen Leistungsumfangs der APP APOLLO zu nutzen.
</MudText>
<MudText Typo="Typo.body1">
    Die HDBW haftet nicht für eine Verletzung der Rechte Dritter durch den Nutzer, sofern und soweit sich diese Verletzung aus einer Überschreitung der nach diesem Vertrag eingeräumten Nutzungsrechte ergibt. In diesem Fall stellt der Nutzer uns auf erstes Anfordern frei von sämtlichen Ansprüchen Dritter.
</MudText>
<br />
<MudText Typo="Typo.h5">8. Nutzungsbeschränkungen</MudText>
<MudText Typo="Typo.h6">
    8.1 Die Nutzung der APP APOLLO erfolgt ausschließlich zu privaten und beruflichen Zwecken der Nutzer.
</MudText>
<MudText Typo="Typo.h6">
    8.2 Eine kommerzielle Nutzung der APP APOLLO Weiterbildungen ist dem Nutzer untersagt.
</MudText>
<br />
<MudText Typo="Typo.h5">9. Haftung</MudText>
<MudText Typo="Typo.h6">
    9.1 Für Ansprüche aufgrund von Schäden, die durch uns, unsere gesetzlichen Vertreter oder Erfüllungsgehilfen verursacht wurden, haften wir stets unbeschränkt
</MudText>
<MudText Typo="Typo.body1">
    <ul>
        <li>
            bei Verletzung des Lebens, des Körpers oder der Gesundheit
        </li>
        <li>
            bei vorsätzlicher oder grob fahrlässiger Pflichtverletzung sowie Arglist
        </li>
        <li>
            im Rahmen eines Garantieversprechens, soweit vereinbart
        </li>
        <li>
            soweit der Anwendungsbereich des Produkthaftungsrechtes eröffnet ist
        </li>
    </ul>
</MudText>
<MudText Typo="Typo.h6">
    9.2 Bei Verletzung wesentlicher vertragspflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung der Vertragspartner regelmäßig vertrauen darf (Kardinalspflichten), durch leichte Fahrlässigkeit von uns, unseren gesetzlichen Vertretern oder Erfüllungsgehilfen ist die Haftung der Höhe nach auf den bei Vertragsschluss vorhersehbaren Schaden begrenzt, mit dessen Entstehung typischerweise gerechnet werden muss.
</MudText>
<MudText Typo="Typo.h6">
    9.3 Im Übrigen sind Ansprüche auf Schadensersatz ausgeschlossen.
</MudText>
<br />
<MudText Typo="Typo.h5">10. Haftungsbeschränkung</MudText>
<MudText Typo="Typo.h6">
    10.1 Die HDBW wendet die von einem APP-Anbieter üblicherweise zu erwartende Sorgfalt bei der Aktualität, Auswahl und Pflege der APP-Inhalte an. Sie übernimmt keine Gewähr für die Aktualität, Vollständigkeit und inhaltliche Richtigkeit der zur Verfügung gestellten Inhalte sowie deren Zusammenstellungen und Auswahl. Dies gilt insbesondere für das Angebot der Weiterbildungs- und Stellenangebote Dritter sowie für die von der künstlichen Intelligenz auf der Grundlage der hochgeladenen Daten erstellten Auswertungen.
</MudText>
<MudText Typo="Typo.h6">
    10.2 Ist die Verfügbarkeit der APP von Leistungen Dritter abhängig, übernimmt die HDBW für diese Verfügbarkeit keine Haftung.
</MudText>
<br />
<MudText Typo="Typo.h5">11. Schutzrechte</MudText>
<MudText Typo="Typo.h6">
    11.1 Alle Rechte an sämtlichen innerhalb der APP bereitgestellten Inhalte und der APP selbst, insbesondere Marken- und Urheberrechte, behält sich die HDBW vor.
</MudText>
<MudText Typo="Typo.h6">
    11.2 Insbesondere handelt es sich bei den zusammengestellten Inhalten der APP um eigens von HDBW hergestellte Datenbankwerke, speziell um Datenbanken i. S. v. §§ 4 Abs. 2, 87a Abs. 1 UrhG sowie ggf. Sprachwerke nach § 2 UrhG. Die zugehörigen Programme sind als Code durch §§ 69a ff. UrhG ebenfalls urheberrechtlich geschützt.
</MudText>
<br />
<MudText Typo="Typo.h5">12. Schlussbestimmungen</MudText>
<MudText Typo="Typo.h6">
    12.2 Es gilt deutsches Sachrecht unter Ausschluss des UN-Kaufrechts.
</MudText>
<MudText Typo="Typo.h6">
    12.2 Erfüllungsort ist Sitz der HDBW. Der Gerichtsstand richtet sich nach den gesetzlichen Vorschriften .
</MudText>
<MudText Typo="Typo.h6">
    12.3 Falls der Nutzer nach Vertragsschluss seinen Wohnsitz oder seinen gewöhnlichen Aufenthaltsort aus dem Geltungsbereich der Bundesrepublik Deutschland verlegt, ist der Gerichtsstand für alle Streitigkeiten aus dieser Vereinbarung der Sitz der HDBW. Gleiches gilt, wenn der Nutzer seinen Wohnsitz oder gewöhnlichen Aufenthalt im Ausland hat.
</MudText>
<MudText Typo="Typo.h6">
    12.4 Abweichende oder ergänzende Geschäftsbedingungen des Nutzers werden nicht Vertragsbestandteil, es sei denn, HDBW hat ihrer Geltung ausdrücklich zugestimmt.
</MudText>
@code {
    
}
