@page "/Terms"
<PageTitle>Nutzungsbedingungen</PageTitle>

<MudText Typo="Typo.h1" GutterBottom="true">Nutzungsbedingungen</MudText>
<MudText Typo="Typo.h2">Allgemeine Geschäftsbedingungen für die APOLLO WEITERBILDUNGEN APP</MudText>
<br />
<MudText Typo="Typo.h3">1. Geltungsbereich der Nutzungsbedingungen</MudText>
<br />
<MudText Typo="Typo.h4">1.1 Diese Allgemeinen Geschäftsbedingungen („AGB“) gelten zwischen</MudText>

<br/>
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">Hochschule der Bayrischen Wirtschaft (HDBW) gemeinnützige GmbH</MudText>
        <MudText Typo="Typo.body1">Infanteriestraße 8</MudText>
        <MudText Typo="Typo.body1">80797 München</MudText>
        <MudText Typo="Typo.body1">Telefon: +49 (0)89 456 78 45-0</MudText>
        <p><MudLink Href="mailto://info@hdbw-hochschule.de">E-Mail: info@hdbw-hochschule.de</MudLink></p>
        <p><MudLink Href="https://www.hdbw-hochschule.de/">Internetseite</MudLink></p>
    </MudCardContent>
</MudCard>
<br/>

<MudText Typo="Typo.body1">
    und den Nutzern der von der HDBW angebotenen Software für mobile Endgeräte APOLLO – nachfolgend „APP“ genannt. Diese AGB regeln die Bedingung für den Download und die Nutzung der APP
</MudText>

<MudText Typo="Typo.h4">1.2 Nutzer sind dabei individuelle Personen, die die APP nutzen möchten.</MudText>
<MudText Typo="Typo.h4">1.3 Maßgebend ist die jeweils bei Abschluss des Vertrages gültige Fassung der AGB.</MudText>

<MudText Typo="Typo.h3">1. Geltungsbereich der Nutzungsbedingungen</MudText>


@code {
    
}
